
body {
    font-family: 'NanumSquare', sans-serif !important;
    background-color: #f8f9fa;
}
p{
    word-break: keep-all;
}
.tilteBold{
    font-weight: bold;
}
.card {
    margin: 15px;
}
.logo {
    width: 50px; /* 로고 크기 조정 */
}

.logoTitle{
    color : #313336
}

.container {
    max-width: 1200px;
}

.serchContainer{
    border: 1px solid #9ca0a5;
    padding-top: 10px;
    margin-top: 5px !important;
}
.carContainer{
    padding-top: 10px;
    margin-top: 5px !important;
    margin-bottom: 10px;
}

/* .banner-wrapper{
    width: 100%;
    height: 300px;
    background-color: #11A0FF;
}
.banner-image{
    width: 100%;
    height: 300px;
    object-fit: contain;
}  */

.banner-wrapper {
    position: relative;
    width: 100%;
    height: auto; /* 고정된 높이 */
    overflow: hidden;
}

.blur-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/banner.png");
    background-size: cover;
    background-position: center;
    filter: blur(8px); /* 배경 블러 효과 적용 */
    z-index: 0; /* 뒤에 배치 */
}
.banner-image {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain; /* 원본 이미지 비율 유지 */
    z-index: 1; /* 블러 배경보다 위에 배치 */
}
.benefit-card-ul{
    display: flex;
    list-style-type: none;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}
.benefit-card-li{
    float: left;
    align-content: center;
}
.card-container {
    display: flex; /* 플렉스박스를 사용하여 카드들을 가로로 나열 */
    justify-content: space-between; /* 카드 사이에 고르게 공간 분배 */
    margin: 0; /* 상하 여백 추가 */
}

.card {
    display: flex; /* Flexbox를 사용하여 자식 요소를 가로로 배치 */
    border: 1px solid #ccc; /* 카드 테두리 */
    padding: 10px; /* 카드 내부 여백 */
    border-radius: 5px; /* 카드 모서리 둥글게 */
}
.benefit-card{
    margin: 1px !important;
    padding : 3px !important;
}
.card-image-container {
    margin-right: 10px; /* 이미지와 카드 내용 사이의 간격 */
}

.card-image {
    width: 75px; /* 이미지 너비 */
    height: auto; /* 비율 유지 */
}

.card-title {
    font-size: 1.2em; /* 제목 크기 */
    font-weight: bold; /* 제목 두껍게 */
    margin: 0;
}

.card-description {
    font-size: 1em; /* 설명 크기 */
    color: #666; /* 설명 색상 */
    margin: 0;
}
#cardControl{
    width: 100%;
    height: auto;
    text-align: center;
}
.i-icon {
    font-size: 24px; /* 아이콘 크기 */
    color: #333; /* 아이콘 색상 */
}
.h2-i{
    background-color: #ffffff; /* 배경색 흰색 */
    border-radius: 8px; /* 모서리 둥글게 설정 */
    padding: 2px; /* 내부 여백 추가 */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    margin: 0; /* 상하 여백 추가 */
}

/* 검색부분 */
.form-group {
    margin-bottom: 1rem; /* 각 요소 간의 간격 조정 */
}
.date-time-group {
    display: flex; /* 날짜와 시간 입력란을 가로로 배치 */
    justify-content: space-between; /* 요소 간격 조정 */
}
.date-time-group .form-control {
    flex: 1; /* 각 입력란의 너비를 균등하게 조정 */
    margin-right: 0.5rem; /* 입력란 간의 간격 조정 */
}
.date-time-group .form-control:last-child {
    margin-right: 0; /* 마지막 요소의 오른쪽 여백 제거 */
}

.mt-5 {
    background-color:#ffffff ;
}

.mt-4{
    background-color:#ffffff ;
}

#btnMoreList{
    margin-bottom: 10px;
}

#btnSearch{
    height: 65px;
}

/* 카드 전체 스타일 */
.car-card {
    width: 100%; /* 카드가 전체 가로폭을 차지하도록 설정 */
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

/* 카드 이미지 크기 조정 */
.card-img-top {
    width: 40%;
    height: auto;
}

/* 카드 본문 */
.card-body {
    padding: 15px;
}

/* 제목 스타일 */
.card-title {
    font-size: 18px;
    font-weight: bold;
}

/* 아이콘을 포함한 텍스트 스타일 */
.card-text {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    font-size: 14px;
}

/* 가격 텍스트 스타일 */
.price {
    font-size: 20px;
    font-weight: bold;
    color: #e74c3c; /* 가격 색상 */
    margin-top: 15px;
}

/* 버튼 스타일 */
.btn {
    margin-top: 20px;
    
}
.btn:hover{
    transform: scale(1.05); /* 버튼과 글자 크기 증가 */
}

.btnMore{
    background-color: #fff;
    color : #333;
}
.btnMore:hover{
    background-color: #0069d9;
    color : #fff;
}

/* 아이콘 스타일 */
.fas {
    margin-right: 7px;
    margin-left: 15px;
}

.cardList{
    width:97%
}

.managerBtn{
    background-color: #343a40!important;
}

#bannerContainer{
    height: 500px;
}
.index-search{
    position: absolute;
    top: 425px;
    left: 355px;
    z-index: 10;
}
.notice p{
    text-align: left;
    border-bottom: 1px solid #ccc;
}
.footer {
    background-color: #343a40; /* 어두운 배경 */
    color: white; /* 텍스트 색상 */
    padding: 2rem 0;
}

.footer-column {
    margin-bottom: 1rem; /* 컬럼 간격 */
}

.footer p {
    margin: 0.5rem 0; /* 텍스트 간격 */
    font-size: 10px; /* 폰트 크기 */
    line-height: 1.5; /* 줄 간격 */
}
.footer .text-center{
    text-align: center;
}
.carList-search{
    display: block;
    position: relative;
}
.lab-search{
    display: none;
}
.lab-search label{
    margin:0
}
#label_close{
    display:none;
}

/* 반응형 설정 */
@media (max-width: 768px) {
    .footer-column {
        text-align: left; /* 모바일에서 왼쪽 정렬 */
    }
    .text-end {
        text-align: left !important; /* 오른쪽 정렬 제거 */
    }
    .text-center {
        text-align: center !important; /* 가운데 정렬 제거 */
    }
}

@media (max-width: 576px) {
    .footer p {
        font-size: 10px; /* 모바일에서 폰트 크기 축소 */
    }
    .footer {
        padding: 1.5rem 1rem; /* 모바일에서 패딩 축소 */
    }
}

/* 반응형 디자인 (모바일 화면에서 이미지가 위에 오고 텍스트가 아래로 배치) */
@media screen and (max-width: 768px) {
    .car-card {
        flex-direction: column;
    }
    .card-img-top {
        width: 100%;
        height: auto;
    }
    .card-body{
        text-align: center;
    }
    .card-text {
        justify-content: space-between;
    }
    .fas {
        margin: 0;
    }
    .btn {
        margin: 0;
        width: 100%;
    }
    .mainCard{
        font-size : 1em;
    }
    .subCard{
        font-size : 0.8em;
    }
    .card-image {
        width: 40px;
        height: auto;
    }
    .h2-i{
        font-size: 1px;
    }
    .fa-solid{
        font-size: 13px;
    }
    .serchContainer {
        position: relative;
        top: 0; 
        left: 0;
    }
    #bannerContainer{
        width:100%;
        height: auto;
    }
    .card-container{
        display: block;
    }
    .nav-container {
        max-width: 100%; /* 부모 컨테이너 크기 제한 */
        overflow-x: auto; /* 가로 스크롤 허용 */
        padding : 0 !important;
    }
    
    .nav {
        display: inline-flex; /* 가로로 항목 배치 */
        min-width: 600px; /* 전체 크기 설정 */
        white-space: nowrap; /* 줄바꿈 방지 */
        padding: 0; /* 기본 패딩 제거 */
        margin: 0; /* 기본 마진 제거 */
        list-style: none; /* 불필요한 점 제거 */
        font-size: 13px;
    }
    
    .nav-item {
        display: inline-block; /* 각 항목을 가로로 배치 */
    }
    
    .nav-link {
        padding: 0.5rem 1rem; /* 여백 추가 */
        text-decoration: none; /* 기본 밑줄 제거 */
    }
    .lab-search{
        display: block;
        font-size: 13px;
        border: 1px solid #ccc;
        padding: 10px;
        margin-top:10px;
    }
    .lab-search label{
        margin:0
    }
    .carList-search{
        display: none;
    }
    #label_close{
        display: block;
        text-align: end;
        width:100%
    }
}